:root {
    --clr-primary-400: 263 55% 52%;
    --clr-secondary-400: 217 19% 35%;
    --clr-secondary-500: 219 29% 14%;
    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-200: 210 46% 95%;
    --clr-neutral-300: 0 0% 81%;
  
    --ff-primary: "Roboto Mono";
  
    --fw-400: 500;
    --fw-700: 600;
  
    --fs-300: 0.6875rem;
    --fs-400: 0.8125rem;
    --fs-500: 1.25rem;
  }
  

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }
  
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  .boddy {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: rgb(255,250,241);;
  }
 
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  
  .boddy{
      display: flex;
      flex-direction: column;
      margin: 0; height: 100%; overflow: hidden
      
  }

  .gilly{
    display: grid;
    min-height: 100vh;
  
    font-family: var(--ff-primary);
    font-weight: var(--fw-400);
  
    background-color: rgb(255,250,241);
    padding-bottom: 200px;
  }
  
  h1,
  h2,
  h3 {
    font-weight: var(--fw-700);
  }

  .flex {
    display: flex;
    gap: var(--gap, 1rem);
  }
  
  .flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-spacer, 1em);
  }
  
  .bg-primary-400 {
    background: rgb(236,212,187);
  }
  .bg-secondary-400 {
    background: rgb(167, 123, 90);
  }
  .bg-secondary-500 {
    background: hsl(var(--clr-secondary-500));
  }
  
  .bg-neutral-100 {
    background: hsl(var(--clr-neutral-100));
  }
  
  .text-neutral-100 {
    color: white;
  }
  .text-secondary-400 {
    color: hsl(var(--clr-secondary-400));
  }
  .border-primary-400 {
    border: 2px solid #a775f1;
  }

  .text-secondary-40{
      color: black;
  }

  .bg-secondary-5{
      color: rgb(79,72,70);
  }
  
  .testimonial-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
     'one'
     'two'
     'three'
     'four'
     'five';
  
    padding-block: 0rem;
    width: min(95%, 70rem);
    margin-inline: auto;
  }
  
  .testimonial {
    font-size: var(--fs-400);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
  }
  
  .testimonial:nth-child(1) {
    grid-area: one;
  }
  .testimonial:nth-child(2) {
    grid-area: two;
  }
  .testimonial:nth-child(3) {
    grid-area: three;
  }
  .testimonial:nth-child(4) {
    grid-area: four;
  }
  .testimonial:nth-child(5) {
    grid-area: five;
  }
  
  @media screen and (min-width: 33em) {
    .testimonial-grid {
        grid-template-areas:
        "one one"
        "two three"
        "five five"
        "four four";
    }
  }
  
  @media screen and (min-width: 38em) {
    .testimonial-grid {
      grid-template-areas:
       'one one'
       'two five'
       'three five'
       'four four';
    }
  }
  
  @media screen and (min-width: 54em) {
    .testimonial-grid {
        grid-template-areas:
        "one one two"
        "five five five"
        "three four four";
    }
  }
  
  @media screen and (min-width: 75em) {
    .testimonial-grid {
        grid-template-areas:
        "one one two five"
        "three four four five";
    }
  }
  
  
  .testimonial.quote {
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
  }
  
  .testimonial img {
    width: 1.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  
  .testimonial .name {
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    line-height: 1;
  }
  
  .testimonial .position {
    font-size: var(--fs-300);
    opacity: 0.5;
  }
  
  .testimonial > p:first-of-type {
    font-size: var(--fs-500);
    line-height: 1.2;
  }
  
  .testimonial > p:last-of-type {
    opacity: 0.7;
  }

  .projects-heading{
    margin-left: 95px;
    margin-top: 45px;
    padding-bottom: 30px;
    font-size: 38px;
    font-family: "Roboto Mono";
    
}

.grid-desc{
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    height: 90%;
}

.grid-desc p{
margin-bottom: 15px;
}

.grid-links{
  text-decoration: 'none';
}

.testimonial:hover{
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075);
  }

.grid-desc-link{
  margin-top: 15px;
}

.used-lan{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto
}
/* 
.used-lan-1{
    display: flex;
    padding-bottom: 25px;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto
} */


.used-lan-1{
  position: relative;
  bottom: 45px;
  margin-left: 0px;
}

.used-lan-5{
  position: relative;
  bottom: 65px;
  margin-left: 0px;
}

.used-lan-4{
  position: relative;
  bottom: 125px;
  margin-left: 0px;
}

/* .used-lan-2{
    display: flex;
    bottom: 0;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto
} */

.used-lan-2{
position: relative;
bottom: 90px;
margin-left: 0px;
}

.used-lan-3{
  position: relative;
  bottom: 35px;
  margin-left: 0px;
  }
